<div>
  <nav class="navbar navbar-expand navBarBackGroundColor">
    <a href="https://www.notarius.com/fr/">

      <img src="https://www.notarius.com/hs-fs/hubfs/logo/notarius/Notarius-Portage-Cybertech/Notarius_colour_rgb_white_fr_marque_d%C3%A9pos%C3%A9e.png?length=300&amp;name=Notarius_colour_rgb_white_fr_marque_d%C3%A9pos%C3%A9e.png" style="width: 175px ">

    </a>
    <div class="navbar-nav">
      <li class="nav-item">
        <a routerLink="urls" class="nav-link">Shortener Urls</a>
      </li>
      <li class="nav-item">
        <a routerLink="getOriginUrl" class="nav-link">get Origin Url</a>
      </li>
    </div>
  </nav>

  <div class="routerOutlet">
    <router-outlet></router-outlet>
  </div>
</div>
